{
  "root": "/home/step/root_ca.crt",
  "federatedRoots": [],
  "crt": "/home/step/root_ca.crt",
  "key": "/home/step/root_ca.key",
  "address": "0.0.0.0:443",
  "insecureAddress": "",
  "dnsNames": ["{{ step_ca_server_root_ca_cn }}"],
  "db": {
    "type": "badgerV2",
    "dataSource": "/home/step/db"
  },
  "logger": {
    "format": "json"
  },
  "api": {
    "address": "0.0.0.0:443",
    "serveUnderscores": false,
    "corsAllowedOrigins": []
  },
  "authority": {
    "provisioners": [
      {
        "type": "jwk",
        "name": "provisioner",
        "key": {
          "use": "sig",
          "kty": "EC",
          "kid": "{{ _provisioner_jwk_pub.kid }}",
          "crv": "P-256",
          "alg": "ES256",
          "x": "{{ _provisioner_jwk_pub.x }}",
          "y": "{{ _provisioner_jwk_pub.y }}"
        },
        "encryptedKey": "{{ _provisioner_encrypted_key }}",
        "claims": {
          "minTLSDur": 5,
          "maxTLSDur": 2160,
          "defaultTLSDur": 2160,
          "disableRenewal": false,
          "disableSmallstepExtensions": false,
          "x509": {
            "enabled": true,
            "interpolateropolitanNames": true
          },
          "ssh": {
            "enabled": false
          }
        },
        "options": {
          "x509": {
            "templateFile": ""
          },
          "ssh": {
            "templateFile": ""
          }
        }
      }
    ]
  }
}
